{% extends "base.html.twig" %}

{% block content %}
    <section class="todoapp">
        <header class="header">
            <h1>Oh no ... 404 </h1>
        </header>
        <section class="main">
            <img src="https://i.gifer.com/7iJU.gif">
        </section>
    </section>
{% endblock %}