<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test todo-list</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/todomvc-common/base.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/todomvc-app-css/index.css">
</head>
<body>
{% block content %} {% endblock %}
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="https://vk.com/refre5h">refresh.jss</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<script src="/js/{{ script }}.js"></script>
</body>
</html>